.following-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ecf0f1;
    padding: 1rem;
    min-height: 100vh;
}

.following-header {
    margin-bottom: 1rem;
}

.following-title {
    font-size: 2rem;
    text-align: center;
}

.following-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.following-item {
    background-color: white;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.following-info {
    display: flex;
    align-items: center;
}

.following-image-user {
    margin-right: 1rem;
}

.following-image {
    width: 7.5rem; /* Ajustar el tamaño de la imagen */
    height: 7.5rem; /* Ajustar el tamaño de la imagen */
    border-radius: 50%; /* Redondea la imagen */
}

.following-details {
    flex-grow: 1;
}

.following-user-info {
    display: flex;
    align-items: center;
}

.following-bio {
    margin: 0.5rem 0;
}

.following-buttons {
    display: flex;
    justify-content: flex-end; /* Alinear botón a la derecha */
}

.following-button {
    padding: 0.3rem 0.8rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.following-button--green {
    background-color: green;
    color: white;
}

.following-load-more {
    margin-top: 1rem;
}
