/* ESTILOS GENERALES */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

html {
    width: 100%;
    height: 100%;
    font-size: 10px;
}

body {
    padding-top: 5.3rem; /* Espacio igual a la altura del navbar */
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    background-color: #f9f9f9;
}


.content__header {
    text-align: center; /* Centra el texto horizontalmente */
    margin-bottom: 20px; /* Espacio debajo del título */
}

.content__title {
    font-size: 2.4rem; /* Tamaño del texto */
    font-weight: bold; /* Negrita para destacar */
    color: #1f3a68; /* Color del texto */
}