/* ESTILOS HEADER Para ambas barras de navegación (Pública y Privada) */
.layout__navbar {
    width: 100%;
    grid-area: nav;
    background-color: #3785e5; /* Color de fondo */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; /* Espacio entre título y menú */
    height: 5.3rem;
    padding: 0 2rem; /* Espaciado interno */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra sutil */
    position: fixed; /* Fija el navbar en la parte superior */
    top: 0; /* Asegura que esté en la parte superior de la pantalla */
    left: 0; /* Asegura que esté alineado a la izquierda */
    z-index: 1000; /* Asegura que el navbar esté por encima de otros elementos */
}

/* ESTILOS DEL TÍTULO */
.navbar__title {
    font-size: 2rem; /* Aumentar el tamaño de la fuente */
    color: white; /* Color del texto */
    font-weight: bold; /* Hacer el texto más prominente */
    text-decoration: none; /* Eliminar subrayado */
    transition: color 0.3s; /* Transición suave para hover */
}

.navbar__title:hover {
    color: #e0e0e0; /* Color al pasar el mouse */
}

/* ESTILOS DE LA NAVEGACIÓN */
.navbar__container-lists {
    width: 95%;
    display: flex;
    justify-content: space-between; /* Espacio entre listas */
}


